@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}

/* cabeçalho imagem */
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* overflow edita rolagem da tela */
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.815);
    /* diminui a opacity */
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: cover; vai cobrir a div, adaptando a imagem na tela */
    opacity: 0.5;
    /* diminui a cor forte da imagem */
    animation: zoom 2.5s;
    /* animação da imagem */
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}

/* area profissional, 
posicionamento do elemento pai */
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

/* area profissional, estilo frase */
.banner h1{
    color: #ffffff;
    font-size: 2.7rem;
    font-family: 'Baloo Da 2', serif;
    font-weight: 300;
    text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.900);
    line-height: 3.5rem;
    margin-bottom: 1.2rem;
    /* text-shadow: cor de fundo
    font-weight: peso da letra */
}

.banner p{
    color: #ffffff;
    font-size: 2rem;
    font-size: 'Josefin+Slab:ital', serif;
    text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.900);
    margin-bottom: 1.2rem;
}

.banner button{
    color: #000;
    font-family: 'Mulish:ital', serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* letter-spacing: separamento entre as letras */
    letter-spacing: .1rem;
    background: #7F7FD5;  /*navegador antigo*/
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);/*navegador suporta o webkit(chrome)*/
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /*padrão de fazer grid*/
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}